.terminal-plus .xterm {
  background-color: #2C001E;
  color: ;

  ::selection {
    background-color: ;
  }

  .terminal-cursor {
    background-color: ;
  }
}


.editor, atom-text-editor::shadow {
  .bracket-matcher {
    position: absolute;
    border: none;
    background: radial-gradient(rgba(0, 255, 255, 0.5) 5%, rgba(0, 0, 0, 0) 80%);
    z-index: 100;
  }
}


atom-text-editor, atom-text-editor::shadow {
  // Box
  .highlights .highlight-selected .region {
    border-color: #ddd;
    background-color: rgba(150, 204, 255, 0.1);
  }

}
